/*
!/.gitignore
!/.npmignore
!/.github
!/package.json
!/package-lock.json
!/tsconfig.json
!/LICENSE
!/README.md
!/TODO.md
!/.gitmodules
!/.eslintrc.json

!/types
!/assets
!/src
!/test-src


!/.vscode
/.vscode/*
!/.vscode/extensions.json

!/docs